[Desktop Entry]
Name=FolderGen GUI
Name[]=FolderGen GUI
Comment=FolderGen by Lars Albrecht
Comment[]=FolderGen by Lars Albrecht
Exec=java -jar /usr/share/foldergen/foldergenjar-1.6.0.0-pre12-full.jar -gui
Icon=tp_deb_foldergen
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
